streamlit==1.53.1

openai==1.97.1
numpy==1.26.4
pandas==2.3.1
scikit-learn==1.8.0
scipy==1.17.0

gdown==5.2.0
requests==2.32.5
tqdm==4.67.1
matplotlib==3.9.2

torch==2.3.1
transformers==4.44.2
sentence-transformers==2.7.0
